.howto {
    &-stepping {

        &__item {
            height: 76px;
            box-shadow: 2px 5px 12px 0px $HIGH_GREY;
            font-weight: bold;
            font-size: 0.9em;
            letter-spacing: -0.4px;
            border: none;
            border-radius: 20px;
            background-color: $LIGHT_GREY;
            margin: 0 20px 24px 0;
            align-items: center;
            cursor: pointer;

            &::before {
                transform: translate(-14px);
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                border-radius: 50%;
                background-color: $COLOR_PRIMARY;
                color: white;
                font-weight: normal;
                font-size: 0.9em;
            }

            &__svgContainer {
                @include flexbox(flex);
                align-items: center;
                width: 40px;
                margin-left: 8px;
            }
            
            &__1 {
                &::before { content: "1"; }

                svg {
                    height: 20px;
                    width: 13px;
                }
            }
            &__2 {
                &::before { content: "2"; }
                svg {
                    height: 20px;
                    width: 15px;
                }
            }
            &__3 {
                &::before { content: "3"; }
                svg {
                    height: 18px;
                    width: 18px;
                }
            }

            svg {
                filter: invert(52%) sepia(18%) saturate(3%) hue-rotate(28deg) brightness(91%) contrast(95%);
            }

            &:hover, &:focus {
                background-color: $COLOR_PRIMARY_LIGHT;

                svg {
                    filter:  invert(41%) sepia(23%) saturate(6862%) hue-rotate(244deg) brightness(92%) contrast(87%);//CSS filter generator https://codepen.io/sosuke/pen/Pjoqqp
                }
            }
        }
    }
}