* {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

#bloc-page {
    min-width: 300px;
}

body, header, main, #bloc-page {
    margin: auto;
}

header {
    @include flexbox(flex, wrap, row, space-between);
}