/*VARIABLES UPPERCASE AND UNDERSCRORE AFIN DE BIEN REPERER LES CONSTANTES*/

/*COLORS*/

$COLOR_PRIMARY: #9356DC;
$COLOR_PRIMARY_LIGHT: rgb(245, 237, 255);
$COLOR_SECONDARY: #FF79DA;
$COLOR_TERTIARY: #99E2D0;
$COLOR_TERTIARY_DARK: rgb(0, 135, 102);
$DARK_GREY: rgb(53, 53, 53);
$XHIGHT_GREY: rgb(126, 126, 126);
$HIGH_GREY: rgb(207, 207, 207);
$MEDIUM_GREY: rgb(234, 234, 234);
$LIGHT_GREY: rgb(246, 246, 246);

/* MEDIA QUERIES BREAKPOINTS */

$MENU: 1515px;
$HOWTO: 1150px;
$DESKTOP: 1024px;//UTILE ???
$TABLET: 600px;//728 //UTILE ???
$PHONE: 375px;//640 //UTILE ???

/* TRANSFORM */

$SCALE: scale(1.02);//vérifier si utile